@font-face {
  font-family: 'Dosis';
  src: url("assets/fonts/Dosis-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: 'Dosis';
  src: url("assets/fonts/Dosis-SemiBold.ttf");
  font-weight: 600;
  }
  body {
    font-family: 'Dosis';
  }
* {
  box-sizing: border-box;
}